.Contest {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.ContestWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../../assets/fondo.svg');
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.Header {
  position: fixed;
  top: 170px;
  margin: auto;
  width: 723px;
  height: 375px;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  background-color: transparent;
  justify-content: center;
}

.Header h1 {
  flex: 1;
  text-align: center;
  color: black;
}

.Machines {
  display: flex;
}

.Animated {
  background-color: white;
  --animation: beat 0.5s infinite alternate;
}

.RowButton {
  position: absolute;
  top: 560px;
  left: 215px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 9999;
}

.RowButton p {
  font-size: 48px;
  font-family: 'Raleway';
  font-weight: 400;
  margin: 0 15px;
  color: #616161;
}

.RowButton img {
  transform: rotate(180deg);
}

@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes beat {
  to {
    background-color: darkred;
  }
}
