.Team {
  position: relative;
  display: flex;
  width: 243px;
  height: 55px;
  padding: 5px;
  border-top-left-radius: 161px;
  border-bottom-right-radius: 161px;
  margin: 10px 0;
}

.Team:nth-child(odd) {
  background-color: #111e72;
}

.Team:nth-child(even) {
  background-color: #b30020;
}

.Avatar {
  width: 63px;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 161px;
}

.Name {
  font-size: 25px;
  color: white;
  font-weight: 700;
  text-align: left;
  margin-left: 5px;
}

.Trophy {
  width: 20px;
  height: 15px;
  background-image: url('../../assets/crown.svg');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: calc(50% - 13px);
  right: 20px;
}
