.Hole {
  margin: 50px 50px 50px 0px;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 366px;
  height: 243px;
}

.Number {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  padding: 15px;
  font-family: 'Raleway';
  font-size: 49px;
  font-weight: 800;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  background-color: white;
  transition: all ease-in-out 300ms;
}

.Number.Checked {
  background-color: black;
  color: white;
}

.Teams {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  height: 100%;
  justify-content: center;
}
